 /**==================== reset ===================**/
html, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead{
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
}
html {
	height:100%;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
table, td, th {
	vertical-align:middle;
}
a img {
	border:none;
}

/*================= Main Layout ====================*/
body {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:12px;
}
li {
	list-style-type:none
}
a {
	color:#105c73;
	text-decoration:none;
	outline:none;
}
a:hover {
	text-decoration:underline;
}
h2, h3, h4, h5, h6 {
	padding:0;
	font-size:18px;
}
h3 {
	font-size:16px;
	font-weight:regular;
	padding-bottom:10px;
}
p{
	line-height:18px;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
	height:0px;
}
.center {
	text-align:center  !important;
}
.no-bgImage {
	background-image:none !important;
}
.no-border {
	border:none !important;
}
.font18 {
	font-size:18px;
	color:#000;
}
.font16 {
	font-size:16px;
}
.font14 {
	font-size:14px;
}
.font11 {
	font-size:11px;
}
.dark {
	color:#333333 !important;
}
.purpl {
	color:#841f82 !important;
}

.light {
	color:#f1f1f1 !important;
}

.bold {
	font-weight:bold;
}
.pTop5 {
	padding-top:5px;
}
.pTop10 {
	padding-top:10px;
}
.pTop20 {
	padding-top:20px;
}
.pLeft10 {
	padding-left:10px;
}
.p10{
	padding:10px;
}
.no-space {
	padding:0 !important;
	margin:0 !important;
}
.wrapper {
	width:97%;
	margin:0 auto;
}
/* ================== START HEADER ================= */
.headerWrap {
	width:100%;
	height:110px;
	border-bottom:5px solid #841f82;
}
.header {
	width:968px;
	margin:0 auto;
	height:110px;
	position:relative;
}
/* ================== END HEADER =================== */


/* ================== START LOGO =================== */
.logo {
	margin:0 0 0px 0;
	}
	.logo a {
		background:url(../images/logo.png) no-repeat;
	}
	.logo, .logo a {
		display:block;
		width:278px;
		height:53px;
		float:left;
	}
	.logo a {
		text-indent:-9999px;
}
/* =================== END LOGO ==================== */


/* =================== START NAV =================== */
.baseNav {
	float:right;
	width:368px;
	padding:0;
	color:#8a8c8f;
	}
	.baseNav a{
		color:#8a8c8f;
	}
	.baseNav a:hover{
		color:#ff0000 !important;
}

.nav {
	width:950px;
	float:left;
	height:41px;
	padding:0;
}

.nav ul{
	float:left;
	position:relative;

}
.nav  ul li{
	float:left;
	display:inline;
	margin-right: 1px;
	
}

.nav ul li a {
	font-size:14px;
	background:url(../images/nav_l.png) no-repeat 0px 0px;
	margin:0 2px 0 0;
	padding-left:5px;
	color:#fcfcfc;
	float:left;
	text-transform:uppercase;
}
.nav ul li a span {
	background:url(../images/nav_r.png) no-repeat 100% 0px;
	padding:10px 11px 15px 6px;
	display:block;
}
.nav ul li a:hover, .nav ul li.selected a{
	background:url(../images/nav_l_hov.png) no-repeat 0px 0px;
	text-decoration:none;
}
.nav ul li a:hover span, .nav ul li.selected a span {
	background:url(../images/nav_r_hov.png) no-repeat 100% 0px;
}



/**** SUB Menu **/
.nav  li ul {
	width:600px;
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	margin-top:40px;
	overflow:hidden;
	background-color:#ffffff;
	z-index:99;
}
.nav li:hover ul { display:block;}
.nav li ul li{
  margin: 0px;
  float:left;
  background:url(../images/sub-menu_bg.png) right no-repeat;
}
.nav li ul li a, .nav li.selected ul li a {
	font-size:12px;
	display:block;
	padding:10px;
	color:#8a8c8f;
	text-align:left;
	background-image:none;
}
.nav li ul li a:hover {
	color: #333333;
	background-image:none;
}


/* =================== END NAV =================== */


/* ============ Footer ============ */
.footerWrap { width:100%; background-color:#111111; }
.footer {
	width:95%;
	margin:0px auto 0px auto;
	padding:5px 0 0 0 ;
	clear:both;
	color:#333;
	font-size:12px;
	text-align:center;
	}
	.footer h4{
		color:#deebeb;
		font-size:18px;
	}
	.footer a{
		color:#e1e1e1;
		
	}
	.footer ul li{
		border-bottom:1px solid #464646;
		padding:4px 0px;
		width:200px;
	}
	
	.footer .inner{
		width:934px;
		padding:10px 15px 5px 15px;
	}
	.footer .section {
		float:left;
		line-height:18px;
	}
	.footer .qLinks {
		width:230px;
	}
	.footer .social {
		width:220px;
	}
	.footer .social img{
		padding-right:12px;
	}
	.footer .map {
		width:275px;
	}
	.footer .contDetail {
		width:180px;
	}
	
	.footer .section h3{
		color:#c6c6c6;
		font-size:18px;
		padding-bottom:10px;
	}
.adminWelcom{
float:left;
width:677px;
height:342px;
background:url(../images/admin-welcome.png) no-repeat;
display:block;
}

/* ============ END Footer ============ */
