@import url("admin_static.css");
body {
	background:#FFFFFF url(../images/bg_body-admin.jpg) repeat-x;
	height:100%;
}
/** ----------  Admin Login Box ----------- **/mmmmmmmmmmmmmmmmmmmmmmmmmmmmm
input[type="text"], input[type="password"], textarea {
	background-color:transparent;
	border:none;
	outline:none;
	color:#333;
}
select {
	background:url(../images/bg-select.jpg) repeat-x;
	border:1px solid #CCC;
	padding:2px;
}
.login_wrapper {
	width:381px;
	margin:0 auto;
	padding:50px 0 0px 0;
	color:#ffffff;
}
.login_wrapper a {
	color:#ffffff;
}
.login_form {
	width:382px;
	margin:0 auto;
	height:40%;
}
.loginFrmMid {
	float:left;
	width:335px;
	/*background:url(../images/adminbg_02.png) no-repeat;*/
	padding:15px 26px 0px 26px;
	height:215px; background-color:#fff; border-radius: 8px;
	color:#000;
}
.logo_login {
	width:382px;
	float:left;
	text-align:center;
	padding:0 0 10px 0;
}
.loginTitle {
	width:350px;
	float:left;
	padding:0 0 30px 0;
}
.loginTitle h1 {
	font-size:20px;
	text-transform:uppercase;
	text-align:left;
	display:block;
	font-weight:normal;
	padding-bottom:4px;
}
.form-area {
	float:left;
	width:323px;
	padding:25px 0 5px 5px;/*border-bottom:1px solid #ffffff*/
}
.frmRow {
	float:left;
	width:305px;
	padding:0 10px 22px 10px;
}
.frmlbl {
	float:left;
	width:80px;
	font-size:15px;
	padding:5px 0 0 0;
	color:#333;
}
.frmtxtfld {
	width:188px;
	float:right;
	padding: 4px 5px 4px 28px;
}
.frmtxtfld input[type="text"], .frmtxtfld input[type="password"] {
	border: none;
	background:none;
	font-size: 14px;
	height:20px;
	width: 180px;
	color:#6b6b6b;
}
.frmtxtfld.uname {
	background:url(../images/bg_txt-login-name.png) no-repeat;
}
.frmtxtfld.pwd {
	background:url(../images/bg_txt-login-pwd.png) no-repeat;
}
.forgotPwd {
	float:left;
	width:200px;
	padding:20px 0 10px 15px;
}
.errorNotePane {
	width:381px;
	background:url(../images/admin_from_bg.jpg) no-repeat;
	margin-top:20px;
}
.errorNote {
	width:340px;
	padding:20px;
}
.errorNoteTitle {
	background:url(../images/cross_login_error.png) 0 0px no-repeat;
	font-size:18px;
	padding:0px 0 5px 30px;
}
.errorNotetxt {
	font-size:12px;
	padding:0px 0 0 30px;
}
.login_txt_sub {
	padding-top:5px;
	float:left
}
.footer_login {
	width:100%;
	margin:0 auto;
	
	padding:0px 0 0px 0;
}
.footer_login_pg { 
    bottom: 0;
    left: 0; text-align:center;
    margin: 0 auto;
    padding: 0 0 10px;
    width: 100%;
}
.adminFldRw span{
	
}
/** ----------  Admin Header ----------- **/
.adminheaderWrap {
	width:100%;
	/*background:url(../images/topbg.jpg) repeat;*/
	padding:5px 0 5px 0;
	height:55px;
	border-bottom: 5px solid #68AB37;
        background-color: #2B529C;
}
.adminheader {
	width:95%;
	margin:0 auto;
	position:relative;
}
.admin_contentWrap {
	float:left;
	width:100%;
	padding:10px 0 10px 0;
	background:#ffffff;
}
.baseNav_admin {
	float:right;
	width:368px;
	padding:0;
	color:#ffffff;
	text-align:right;
}
.baseNav_admin a {
	color:#ffffff;
}
/** ----------  Admin Pages Styles ----------- **/
.admin_contentWrap .contMid {
    background-color: #FFFFFF;
    float: left;
    min-height: 450px;
    padding: 10px 0px;
    width: 100%;
}
.admin_contentWrap .leftCol {
	float:left;
	width:22%;
	padding:0;
}
.admin_contentWrap .rightColm {
	float:left;
	width:75%;
	padding-left:20px;
}
/** ---- Admin Sidebar ---- **/
.sidebarmenu {
	margin:0px 0;
	padding:0;
	width:100%;
	float:left;

}
.sidebarmenu a.menuitem {
	/*background:url(../images/admin_sideBtn.png) no-repeat center top;*/
        background-color: #2B529C;
	color: #fff;
	display: block;
	position: relative;
	width:100%;
	height:38px;
	margin-bottom:5px;
	line-height:38px;
	text-decoration: none;
	font-size:16px;
}
.accordprefix {
	padding:0 0 0 5px;
}
.sidebarmenu a.menuitem:hover {
	/*background:url(../images/admin_sideBtn_h.png) no-repeat center top;*/
        background-color: rgb(255,152,47);
}
.sidebarmenu a.menuitem:visited, .sidebarmenu .menuitem:active {
	color: white;
}
.sidebarmenu a.menuitem .statusicon {
	position: absolute;
	top:11px;
	right:7px;
	border: none;
}
.sidebarmenu div.submenu {
	background: white;
}
.sidebarmenu div.submenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0 0 5px 0;
}
.sidebarmenu div.submenu ul li {
	border-bottom: 1px dotted #bfd1d9;
	position:relative;
	width:100%;
}
.sidebarmenu div.submenu ul li a {
	display: block;
	color: black;
	text-decoration: none;
	padding:5px 0;
	padding-left: 10px;
}
.sidebarmenu div.submenu ul li a:hover, .sidebarmenu div.submenu ul li:hover {
	background: #F2F2F2;
	color: #0e4354;
}
/* sub menu */
.sidebarmenu div.submenu li ul {
	display:none;
	border-top: 1px dotted #bfd1d9;
	border-right: 1px dotted #bfd1d9;
	background: #e2f0ff;
	width:200px;
	position:absolute;
	left:215px;
	top:-1px;
	z-index:99;
}
.sidebarmenu div.submenu li:hover ul {
	display:block;
}
/* / END sub menu */

.result_opt {
	float:left;
	width:100%;
	margin-bottom:10px;
}
/** ---- Tables Style ---- **/
.tablWrap table {
	float:left;
	width:100%;
}
.tablWrap .tHeader {
	background:url(../images/tabl_top.png) no-repeat left top;
}
.tablWrap table th {
	/*background:url(../images/tabl_hedr_col-seprtor.png) repeat-y right;*/
        background-color: rgb(43,82,156);
	padding:0 6px;
	height:34px;
	color:#ffffff;
	text-align:left;
}
.tablWrap th.editCol {
	width:16%;
	text-align:center !important;
}
.tablWrap th.delCol {
	width:16%;
	text-align:center !important;
}
.tablWrap th.action {
	width:9%;
	text-align:center !important;
}
.tablWrap table td {
	border:1px solid #c0c0c0;
	padding:5px 4px;
}
.checkBox {
	width:5%;
}
.slNo {
	width:7%;
}
.tstName {
	width:18%;
}
.tstemail {
	width:25%;
}
.dateCol {
	width:12%;
}
.evntTitl {
	width:23%;
}
.action {
	width:9%;
	text-align:center
}
.editCol {
	width:16%;
	text-align:center;
}
.delCol {
	width:16%;
	text-align:center;
}
.evntSmall {
	width:11%;
}
.col13 {
	width:13%;
}
.col27 {
	width:27%;
}
/** ---- Pagination Style ---- **/
.paging {
	width:670px;
	float:right;
	margin-top:10px;
}
ul.pagination {
	margin:0px;
	padding:0px;
	height:100%;
	overflow:hidden;
	font-size:12px;
	list-style-type:none;
	float:right;
}
ul.pagination li {
	float:left;
	margin:0px;
	padding:0px;
	margin-left:5px;
}
ul.pagination li:first-child {
	margin-left:0px;
}
ul.pagination li a {
	color:#717171;
	display:block;
	text-decoration:none;
	padding:5px 10px 5px 10px;
}
ul.pagination li a img {
	border:none;
}
ul.paginationA li a {
	color:#FFFFFF;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
ul.paginationA01 li a {
	color:#474747;
	border:solid 1px #bdc3c5;
	padding:4px 9px 4px 9px;
	background:#fcfcfc;
}
ul.paginationA01 li a:hover, ul.paginationA01 li.selected a {
	background:#676767;
	color:#f2f2f2;
}
.rightContWrap {
	float:left;
	width:100%;
}
.rightContFrm {
	width:100%;
	margin:0 auto;
}
.rightContForm {
	width:100%;
	margin:0 auto;
}

.adminFldRw {
	float:left;
	width:570px;
	padding-bottom:5px;
}
.admin_Labl {
	float:left;
	width:125px;
	padding-top:5px;
	padding-bottom:3px;
	padding-right:20px;
	text-align:right;
}
.adminInpt, .adminInptTxt, .adminInptSel { /* 29 May 2012 */
	float:left;
	padding:5px 10px 5px 0px;
	width:300px;
}
.adminInptTxt, .adminInptSel {/* 29 May 2012 */
	background-image:url(../images/bg_input_text_medm1_big.png);
	background-repeat:no-repeat;
}
.adminInptTxt input[type="text"] {
	margin-left:6px;
	width:244px;
}
.adminInpt select {
	width:250px;
}
 .adminInptTxt select, .adminInptSel select {/* 29 May 2012 */
	border:none;
	height:20px;
	width:244px;
	margin-left:2px;
	padding-top:0;
}
.adminInptTxtArea {/* 29 May 2012 */
	float:left;
	width:250px;
	padding-bottom:3px;
	padding:5px 15px 5px 0px;
	height:115px;
	background:url(../images/bg_textarea.png) no-repeat;
}
.adminInptTxtArea textarea {
	width:240px;
	height:110px;
	margin-left:6px;
}
.bd_wrap {
	float:left;
	width:100%;
	height:100%;
	position:relative;
}
.error {
	/*position:absolute;*/
	right:0px;
	margin-top:5px;
	width:175px;
	float:left;
	color:#FF0000;
	font-size:11px;
}
.posit_err {
	position:relative
}
.ajax_success {
	color:#060;
	position:absolute;
	margin-left:20px;
	
}
.success {
	color:#060;
}
.ajax_error {
	color:#f00;
	position:absolute;
	right:20px
}
/*===============132 Mar ==============*/
.tablWrap table td table {
	background-color:#e9e9e9;
}
.tablWrap table td table.tbl632 {
	width:632px;
	float:right;
}
.tablWrap table td table.tbl628 {
	width:628px;
	float:right;
}
.tablWrap table td table.tbl676 {
	width:676px;
}
.tablWrap td table td {
	border:1px solid #ffffff;
}
.viewPerm .col_slNo {
	width:40px;
	padding:3px 3px;
}
.viewPerm .col_pname {
	width:506px;
	padding:3px 5px;
}
.viewPerm .col_pname1 {
	width:532px;
	padding:3px 5px;
}
.viewPerm .col_status {
	width:60px;
	padding:3px 5px;
	text-align:center
}
.viewPerm .col_edit {
	width:30px;
	padding:3px 5px;
}
.viewPerm .col_cname {
	width:350px;
	padding:3px 0px;
}
.viewPerm .col_cState {
	width:80px;
	padding:3px 3px;
	text-align:center;
}
.viewPerm .col_cState1 {
	width:75px;
	padding:3px 3px;
	text-align:center;
}
.viewPerm th.col_slNo {
	padding:0px 4px;
}
.viewPerm th.col_pname {
	padding:0px 3px;
}
.viewPerm th.col_status {
	padding:0px 5px;
}
.viewPerm th.col_edit {
	padding:0px 6px;
}
.viewPerm th.col_cname {
	padding:0px 8px
}
.viewPerm th.col_cState {
	padding:0px 4px;
	text-align:center;
}
.viewPerm th.col_pname1 {
	width:532px;
	padding:0px 5px;
}
.viewPerm .action {
	width:15% !important;
}
.action form {
	float:left;
	padding-left:10px;
}
/** -- New table ---**/
.mainTable {
	float:left;
	width:678px;
	background:url(../images/tabl_top.png) left top no-repeat;
}
.mainTable table {
	width:678px;
	border-collapse:collapse;
	border-spacing:0;
}
.mainTable table th {
	text-align:left;
	color:#FFF;
	padding:9px 5px;
	background:url(../images/tabl_hedr_col-seprtor.png) right repeat-y;
}
.mainTable table td {
 background-image:;
	padding:5px;
	border:1px solid #C0C0C0;
	border-collapse:collapse;
}
.mainTable table td table.sub{
	float:right;
	background-color:#F0F0F0;
}
.mainTable table td table.sub td{
	border:1px solid #FFF;
}
.afLeft {
	float:left;
	width:330px;
}
.afPane {
	float:left;
	width:330px;
	padding:3px 0px;
}
.afPane_text {
	float:left;
	width:120px;
	text-align:right;
	padding:3px 10px 3px 0;
}
.afPane_text span {
	color:#F00; padding:0 0 0 3px;
}
.afPane_inpu_bgnone {
	float:left;
	width:200px;
	padding:3px 0px 3px 0;
}
.afPane_input {
	float:left;
	width:195px;
	 
	padding:2px 0px 3px 5px;
	background:url(../images/bg_inputNew.png) no-repeat;
}
.afPane_input input[type="text"] {
	 height:23px;
	width:190px;border:none;
}
.afPane_input select {height:23px;
	width:193px; border:none;
}
.afPane_inputTxtArea {
	float:left;
	width:200px;
	padding-bottom:3px;
	padding:5px 0px 5px 0px;
	height:130px;
	background:url(../images/textAreabg.png) no-repeat;
}
.afPane_inputTxtArea textarea {
	width:190px;
	height:120px;
	margin-left:6px;
}
.afPane_input span, .afLeft span, .afright span {
 	color:#FF0000;  
}
/*----------- new css 29march12 -------*/
.imgwrap {
	float:left;
	width:170px;
}
.pic_img {
	float:left;
	width:145px;
	height:92px;
	background:url(../images/imgwrapbg.png) no-repeat;
	padding: 12px 10px;
}
.pic_info {
	width:145px;
	float:left;
	clear:both;
	padding:5px 0px 5px 10px;
}
.pic_info h3 {
	font-size:12px;
	font-weight:bold;
	padding:0px;
}
.pic_info p {
	font-size:12px;
	line-height:14px;
}


.adminInptBig{
	float:left;
	width:430px;
	padding-top:5px;
}
.adminInptBig h3{
	padding-bottom:5px;
	font-size:12px;
	font-weight:bold;
	display:block;
}
.adminInptBigRow{
	float:left;
	width:430px;
}
.text_align{ text-align:left;}

.ddimgtooltip{
box-shadow: 3px 3px 5px #818181; /*shadow for CSS3 capable browsers.*/
-webkit-box-shadow: 3px 3px 5px #818181;
-moz-box-shadow: 3px 3px 5px #818181;
display:none;
position:absolute;
border:1px solid black;
background:white;
color: black;
z-index:2000;
padding: 4px;
}



.MoreFilds label{
	margin-bottom:10px;
}
.MoreFilds a, p.adminFldRw a{
	float:right;
	display:block;
	background-color:#E2E2E2;
	padding:5px;
}
.MoreFilds textarea, .adminInpt textarea {
	background:url(../images/bg-select.jpg) repeat-x;
	border:1px solid #CCC;
	padding:2px;
	width:240px;
	height:110px;
}
/* 29 May 2012 */


/*p.adminFldRw {
	float:left;
	width:560px;
	padding-bottom:5px;
	position:relative;
}
p.adminFldRw label, .MoreFilds label {
	float:left;
	width:120px;
	padding-top:5px;
	padding-bottom:3px;
	padding-right:10px;
	text-align:right;
}
p.adminFldRw span.adminInptTxt , .MoreFilds span {
	float:left;
	padding-bottom:3px;
	padding:5px 15px 5px 0px;
	width:240px;
	height:20px;
	background-image:url(../images/bg_input_text_medm1_big.png);
	background-repeat:no-repeat;
}
p.adminFldRw input[type="text"], .MoreFilds  input[type="text"]{
	width:230px;
}
p.adminFldRw select, .MoreFilds select{
	width:250px;
}
p.adminFldRw span.adminInptTxtArea{
	float:left;
	width:250px;
	padding-bottom:3px;
	padding:5px 15px 5px 0px;
	height:123px;
	background:url(../images/bg_textarea.png) no-repeat;
}
p.adminFldRw span.adminInptTxtArea textarea {
	width:240px;
	height:110px;
	margin-left:6px;
}
*/

#MoreFilds label {
	float:left;
	display:block;
	width:120px;
	padding-top:5px;
	padding-bottom:3px;
	padding-right:10px;
	text-align:right;
	margin-bottom:10px;
}
#MoreFilds input[type="text"] {
	float:left;
	padding:5px 10px 5px 5px;
	width:237px;
	height:20px;
	background:url(../images/bg_input_text_medm1_big.png) no-repeat;
}
#MoreFilds select {
	background:url(../images/bg_input_text_medm1_big.png) no-repeat;
	border:none;
	height:28px;
	width:252px;
}

#MoreFilds  textarea {
	float:left;
	width:245px;
	padding:5px 15px 5px 5px;
	height:115px;
	background:url(../images/bg_textarea.png) no-repeat;

}
a.addMore {
  background-color: #E2E2E2;
  color: #366692;
  display: block;
  float: right;
  margin-top: 5px;
  padding: 5px 8px;
}



a.addMore{
	padding:5px 8px;
	float:right;
	background-color:#e2e2e2;
	color:#366692;
	display:block;
	margin-top:5px;
}
.actionCol{
	text-align:center !important;
	background-image:none !important;
	padding:5px 1px !important;
}
.actionCol img{
	margin:0 3px;
	vertical-align:middle;
}
.eventFiltr{
	border:1px solid #bfbfbf;
	padding:12px;
	margin-bottom:15px;
	width:656px;
}
.eventFiltrRow1{
	width:275px;
	float:left;
}
.eventFiltrRow2{
	width:185px;
	float:left;
}
.evntFrmLabl{
	float:left;
	width:95px;
	padding-right:4px;
	padding-top:4px;
	text-align:right;
}
.evntInptSel {
	float:left;
	width:150px;
	padding:3px 10px 5px 0px;
}
.evntInptSel {background:url(../images/text_158.png) no-repeat;}
.evntInptTxt {
	float:left;
	width:100px;
	padding:3px 10px 5px 0px;
}
.evntInptTxt {background:url(../images/text_80.png) no-repeat;}
.evntInptTxt input[type="text"] {
	width:85px;
	height:20px;
	padding:0px 5px;
}
.evntInptSel select {
	width:154px;
	height:20px;
	border:none;
	outline:none;
	background:none;
}
.paymentReq{
	width:530px;
	margin:0 auto;
	padding:15px;
	background-color:#FFF;
	position: relative;
	z-index:99;
}
.paymentReq h1{
	font-size:18px;
	float:left;
}
.paymentReqFrm{
	padding-top:10px;
	width:100%;
	float:left;
}
.pReqFrmRow{
	float:left;
	width:510px;
	padding-bottom:10px;
}
.pReqFrmRow span{ color:#F00}
.pReqFrmLbl{
	float:left;
	width:175px;
	text-align:right;
	padding-right:5px;
	padding-top:5px;
}
.pReqFrmInptTxt, .pReqFrmInpt { 
	float:left;
	padding:5px 10px 5px 5px;
	width:290px;
}
.pReqFrmInptTxt {
	background:url(../images/text_290.png) no-repeat;
}
.pReqFrmInptTxt input[type="text"] {
	width:275px;
}
.pReqFrmInpt div.left{ padding-right:5px;}
.pReqFrmInpt a.left{margin-right:5px}
#close_x {
	width: 16px;
	height: 16px;
	overflow: hidden;
	display: block;
	float:right;
	background:url(../images/icon_delete.png) no-repeat;
}
/*STYLES FOR CSS POPUP*/


#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
   height:50%;
}

#popUpDiv {
	position:absolute;
	background-color:#FFFFFF;
	width:400px;
	border:2px solid #000;
	z-index: 9002;
	padding:20px;
}

#popUpDiv a.close {position:absolute; top:10px; right:10px; display:block; background:url('../images/icon_delete.png') no-repeat; width:16px; height:16px;}
#popUpDiv a.close:hover{text-decoration:none}

/* 9 Aug 2012 */
.padRgt10 {padding-right:10px;}
.padRgt25 {padding-right:25px;}
.filter_byChar {text-align:right; float:right; padding-top:5px;}
.filter_byChar a {font-weight:bold; text-decoration:none; margin-right:5px;}
.filter_byChar a:hover {font-weight:bold; text-decoration:underline; margin-right:5px;}
.editImg {width:100%; margin:auto; padding-bottom:20px;}
.editImg_url {width:100%; margin:auto; padding-bottom:20px;}
.adminInptURL {
	background-image:url(../images/bg_input_text_medm1_big150.png);
	width:150px; float:left;
	padding-top:4px;
	height:23px;
	background-repeat:no-repeat;
}
.adminInptURL input[type="text"] {
	margin-left:6px;
	width:138px;
}
.afPane_URL {
	float:left;
	width:90px;
	text-align:right;
	padding:3px 10px 3px 0;
}
/*---- new css 16 Aug 2012 -----*/
.adminInptTxt_phone { 
	float:left;
	padding:5px 10px 5px 0px;
	width:40px;
	margin-right:15px
}
.adminInptTxt_phone{
	background-image:url(../images/bg_input_bg_phone_1.png);
	background-repeat:no-repeat;
}
.adminInptTxt_phone input[type="text"] {
	margin-left:6px;
	width:38px;
}
.adminInptTxt_phone_1 { 
	float:left;
	padding:5px 10px 5px 0px;
	width:60px;
		margin-right:15px
}
.adminInptTxt_phone_1{
	background-image:url(../images/bg_input_bg_phone_2.png);
	background-repeat:no-repeat;
}
.adminInptTxt_phone_1 input[type="text"] {
	margin-left:8px;
	width:58px;
}
.adminInptTxt_phone_2 { 
	float:left;
	padding:5px 10px 5px 0px;
	width:99px;
		margin-right:10px
}
.adminInptTxt_phone_2{
	background-image:url(../images/bg_input_bg_phone_3.png);
	background-repeat:no-repeat;
}
.adminInptTxt_phone_2 input[type="text"] {
	margin-left:10px;
	width:95px;
}


/*31stMay2013*/
.adminFldRw_mngHM {
	float:left;
	width:675px;
	padding-bottom:5px;
}
.adminInptTxt_mngHM, .adminInptSel_mngHM {
	background-image:url(../images/bg_input_text_medm1_big2.png);
	background-repeat:no-repeat;
	float:left;
	height:24px;
}
.adminInptTxt_mngHM input[type="text"] {
	margin-left:6px;
	width:495px;
}
.adminInptTxt_mngHM select {
	background:url(../images/bg-select.jpg) repeat-x;
	border:1px solid #CCC;
	padding:2px;
}


.adminInptTxtArea_mngHM {/* 29 May 2012 */
	float:left;
	width:495px;
	padding-bottom:3px;
	padding:5px 15px 5px 0px;
	height:115px;
	background:url(../images/bg_textarea2.png) no-repeat;
}
.adminInptTxtArea_mngHM textarea {
	width:495px;
	height:110px;
	margin-left:6px;
}






.zebracss{
    background-color: #D1EEEE;
}